body {
    background-image: url("img/Fridge_Kitchen.jpg");
   background-size: 100%;
   height: 100%;
   background-repeat: no-repeat;
}

#fridge {
    position: absolute;
	width: 85%;
    top: -12%;
    left: 10%;
}

#milk {
    position: absolute;
	width: 70%;
    top: 4%;
    left: 10%;
}

#oj {
    position: absolute;
	width: 70%;
    top: 6%;
    left: 20%;
}

#water {
    position: absolute;
	width: 70%;
    top: 10%;
    left: 23%;
}

#carrots {
    position: absolute;
	width: 65%;
    top: 43%;
    left: 18%;
}

#leftover {
    position: absolute;
	width: 65%;
    top: 21%;
    left: 15%;
}

#eggs {
    position: absolute;
	width: 80%;
    top: 16%;
    left: 18%;
}

#next {
    position: absolute;
	width: 15%;
    top: -30%;
    left: 60%;
}


