body {
    background-image: url("img/Kitchen_Chopping.png");
   background-size: 90%;
   height: 100%;
   background-repeat: no-repeat;
}

#cuttingBoard {
    position: absolute;
	width: 75%;
    top: 50%;
    left: 5%;
}

#carrot {
    position: absolute;
	width: 75%;
    top: 55%;
    left: 5%;
}

#carrot_chopped {
    position: absolute;
	width: 75%;
    top: 50%;
    left: 7%;
    display: none;
}

#next {
    position: absolute;
	width: 15%;
    top: -30%;
    left: 60%;
}